.Nav {
    background-color: #404552 !important;
    
}

.Nav a{
    color: #ffffff !important;
}

img.bell {
    cursor: pointer;
    animation: 0.5s wiggle infinite linear;
}

@keyframes wiggle {
  0% {
      transform: rotate(0deg) translateY(0px);
  }
  50% {
      transform: rotate(40deg) ;
  }
  75% {
      transform: rotate(-40deg) ;
  }
  100% {
      transform: rotate(0deg) translateY(0px);
  }
}